:root {
   --color-gray-light: #777777;
   --color-gray: #ebebeb;
   --color-gray-dark: #bec3c7;
   --color-blue: #5daedd;
   --color-green: #2dcc70;
}

body {
   background-color: #4caf50;
}

section {
   padding: 60px 0;
}

.friends {
   background-color: var(--color-gray);
   padding-top: 15px;
   left: 0;
}

@media screen and (max-width: 575px) {
   .friends {
      position: absolute;
      z-index: 1;
      left: -100%;
      width: 85%;
      max-width: 250px;
      transition: left .5s ease-in-out;
      height: 440px;
   }
}

.friends-show {
   left: 0 !important;
}

.friends__list {
   padding: 0;
}

.friends__container {
   list-style: none;
   padding: 10px;
   border-radius: .15rem;
   margin: 5px 0;
   position: relative;
}

.friends__container:hover, .friends__container-active {
   background-color: var(--color-blue);
}

.friends__icoCross {
   position: relative;
   right: calc(-100% + 11px);
   margin-bottom: 5px;
   width: 10px;
   height: 10px;
   top: -7px;
   cursor: pointer;
}

.friends__searchInput {
   width: 100%;
   border-radius: .25rem;
   color: var(--color-gray-light);
   border: 1px solid var(--color-gray-dark);
   height: 40px;
   padding: 0;
   padding-left: 10px;
}

.friends__ava {
   width: 45px;
   height: 45px;
   margin-right: 5px;
}

.friends__name {
   position: absolute;
}

.friends__status {
   font-size: 10pt;
   position: relative;
   top: 8px;
}

.friends__status-offline {
   color: red;
}

.friends__status-online {
   color: var(--color-green);
}

#messages {
   background-color: white;
   padding: 0;
}

.menuPanel {
   padding: 10px;
   border-bottom: 1px solid var(--color-gray);
   height: 70px;
}

.menuPanel__userAva {
   width: 45px;
   height: 45px;
}

.menuPanel__userName {
   position: relative;
   top: 3px;
}

.menuPanel__icoFriends {
   width: 30px;
   height: 30px;
   position: absolute;
   top: 15px;
   right: 15px;
}

.messages {
   height: 300px;
   overflow: overlay;
   padding: 15px;
   margin: 0;
   padding-right: 20px;
}

.messages li {
   list-style: none;
}

.messages__container {
   width: 85%;
   display: inline-block;
}

.messages__container-my {
   float: right;
}

.messages__container-friend {
   float: left;
}

.messages__ava {
   width: 45px;
   margin-top: 5px;
}

.messages__ava-my {
   float: right;
}

.messages__ava-friend {
   float: left;
}

.messages__body {
   margin: 5px 10px 0 10px;
   border-radius: 5px;
   padding: 5px;
   display: flex;
   max-width: calc(100% - 65px);
}

.messages__body-my {
   float: right;
   background: var(--color-green);
}

.messages__body-friend {
   float: left;
   background: var(--color-gray-dark);
}

.messages__body-friend:before {
   width: 0;
   height: 0;
   content: "";
   top: -5px;
   left: -14px;
   position: relative;
   border-style: solid;
   border-width: 0 13px 13px 0;
   border-color: transparent var(--color-gray-dark) transparent transparent;
}

.messages__body-my:after {
   width: 0;
   height: 0;
   content: "";
   top: -5px;
   left: 14px;
   position: relative;
   border-style: solid;
   border-width: 13px 13px 0 0;
   border-color: var(--color-green) transparent transparent transparent;
}

.messages__text {
   margin-bottom: 0;
}

.messages__time {
   color: var(--color-gray);
   margin-bottom: 0;
}

.inputPanel {
   padding: 10px;
   border-top: 1px solid var(--color-gray);
   height: 70px;
}

.inputPanel__input {
   width: calc(100% - 57px);
   border-radius: .25rem;
   color: var(--color-gray-light);
   border: 1px solid var(--color-gray-dark);
   height: 40px;
   padding: 0;
   padding-left: 10px;
}

.inputPanel__button {
   background-image: url(../img/sent.svg);
   background-color: unset;
   background-size: 25px 25px;
   background-repeat: no-repeat;
   background-position: 40% center;
   width: 30px;
   height: 30px;
   padding: 19px;
   position: relative;
   top: -7px;
   margin: 0 0 0 10px;
   border-radius: 100%;
   border: 2px solid var(--color-gray-dark);
}

.inputPanel__button:hover {
   background-color: var(--color-gray);
}
